;
; Copyright © 2021 Peter Monks
;
; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.
;
; SPDX-License-Identifier: MPL-2.0
;

{:deps
   {jansi-clj/jansi-clj           {:mvn/version "2.0.0"}
    com.github.pmonks/clj-wcwidth {:mvn/version "1.0.145"}
    com.github.pmonks/embroidery  {:mvn/version "1.0.44"}}
 :aliases
   {:build {:deps       {com.github.pmonks/pbr {:mvn/version "RELEASE"}}
            :ns-default pbr.build}}}
